body {
  margin: 0px;
  height: 100%;
}

.tabbable > .nav > li > a {
  width: 24vw;
  background-color: brown; 
  color:white; 
  text-align: center;
}

.tabbable > .nav > .active > a {
  background-color: lightgrey;
  color: black;
}

.container-fluid {
  background-color: #C4A484;
}

.tab {
  background-image: url("IntroPageBackground.jpeg"); /* placeholder */
  background-size: cover;
  height:90vh;
}

.museum {
  background-image: url("NavigationPage.jpeg");
  background-size: 100%;
  width: 100%;
  height:90vh;
}

.exhibition_1 {
  background-image: url("ArtExhibitBackground.jpeg"); /* placeholder */
  background-size: 100%;
  width: 100%;
  height:90vh;
}

.exhibition_2 {
  background-image: url("DeepfakeExhibit.jpeg"); /* placeholder */
  background-size: 100%;
  width: 100%;
  height:90vh;
}

.exhibition_3 {
  background-image: url("MusicPage.jpeg"); /* placeholder */
  background-size: 100%;
  width: 100%;
  height:90vh;
}

.h4 {
  align-items:center;
  color:white;
}

.doorDiv {
  float: left;
  width: 25%;
  text-align: center;
  text-color: white;
}

.door {
  width: 200px;
  height: 440px; 
  background-color: blue;
  /*background-image: url("door_img.png");*/
  background-size: cover; 
  background-position: center;
  display:block; 
  margin:auto; 
  border-radius: 5px;
}

.door1 {
  display: block;
  position: relative;
  margin-left: 22%;
  margin-top: 48%;
  width: 85%;
  height: 0;
  padding-bottom: 120%;
  opacity:0.0;
  /*transform: perspective(10px) rotateY(0.3deg)*/
}

.door1:hover {
  background-color: black;
  opacity:0.15;
}

.door2 {
  display: block;
  position: relative;
  margin-left: 56%;
  margin-top: 70%;
  width: 47%;
  height: 0;
  padding-bottom: 85%;
  opacity:0.0;
  /*transform: perspective(10px) rotateY(0.3deg)*/
}

.door2:hover {
  background-color: black;
  opacity:0.15;
}

.door3 {
  display: block;
  position: relative;
  margin-left: 30.5%;
  margin-top: 82%;
  width: 30%;
  height: 0;
  padding-bottom: 66%;
  opacity:0.0;
  /*transform: perspective(10px) rotateY(0.3deg)*/
}

.door3:hover {
  background-color: black;
  opacity:0.15;
}

.exhibitionContent {
  display: flex;
  justify-content: center;
}

.mapButton {
  display: block;
  margin: auto;
}

.left_arrow {
  width: 150px;
  height: 50px;
  transform: rotate(180deg);
  background-image: url("arrow.png");
  background-color: #ffffff00;
  background-size: cover; 
  background-position: center;
}

.right_arrow {
  width: 150px;
  height: 50px;
  background-image: url("arrow.png");
  background-color: #ffffff00;
  background-size: cover; 
  background-position: center;
}

.deepfake1 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}

.deepfake2 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}

.deepfake3 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}

.art1 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}

.art2 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}

.art3 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}

.music1 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}

.music2 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}

.music3 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}
