body {
  margin: 0px;
  height: 100%;
}

.tabbable > .nav > li > a {
  width: 24vw;
  background-color: brown; 
  color:white; 
  text-align: center;
}

.tabbable > .nav > .active > a {
  background-color: lightgrey;
  color: black;
}

.container-fluid {
  background-color: #C4A484;
}

.tab {
  background-image: url("IntroPageBackground.jpeg"); /* placeholder */
  background-size: cover;
  height:90vh;
}

.museum {
  background-image: url("NavigationPage.jpeg");
  background-size: cover;
  height:100vh;
}

.exhibition_1 {
  background-image: url("ArtExhibitBackground.jpeg"); /* placeholder */
  background-size: cover;
  height:100vh;
}

.exhibition_2 {
  background-image: url("DeepfakeExhibit.jpeg"); /* placeholder */
  background-size: cover;
  height:100vh;
}

.exhibition_3 {
  background-image: url("MusicPage.jpeg"); /* placeholder */
  background-size: cover;
  height:100vh;
}

.h4 {
  align-items:center;
  color:white;
}

.doorDiv {
  float: left;
  width: 25%;
  text-align: center;
  text-color: white;
}

.door {
  width: 200px;
  height: 440px; 
  background-color: blue;
  /*background-image: url("door_img.png");*/
  background-size: cover; 
  background-position: center;
  display:block; 
  margin:auto; 
  border-radius: 5px;
}

.door1 {
  display: block;
  margin-left: 56%;
  margin-top: 42.75%;
  width: ;
  height: 80%;
  opacity:0.0;
  transform: rotate(90deg) perspective(9px) rotateX(0.5deg)
}

.door1:hover {
  background-color: black;
  opacity:0.15;
}

.door2 {
  display: block;
  margin-left: 53%;
  margin-top: 15%;
  width: 170px;
  height: 310px;
  opacity:0.0;
}

.door2:hover {
  background-color: black;
  opacity:0.15;
}

.door3 {
  display: block;
  margin-left: 25%;
  margin-top: 28%;
  width: 110px;
  height: 242px;
  opacity:0.0;
}

.door3:hover {
  background-color: black;
  opacity:0.15;
}

.exhibitionContent {
  display: flex;
  justify-content: center;
}

.mapButton {
  display: block;
  margin: auto;
}

.left_arrow {
  width: 150px;
  height: 50px;
  transform: rotate(180deg);
  background-image: url("arrow.png");
  background-color: #ffffff00;
  background-size: cover; 
  background-position: center;
}

.right_arrow {
  width: 150px;
  height: 50px;
  background-image: url("arrow.png");
  background-color: #ffffff00;
  background-size: cover; 
  background-position: center;
}

.deepfake1 {
  display: block;
  margin-left: 20%;
  margin-top: 20%;
}