.tabbable > .nav > li > a {
  width: 24vw;
  background-color: green; 
  color:white; 
  text-align: center;
}

.tabbable > .nav > .active > a {
  background-color: white;
  color: black;
}

body {
  margin: 0px;
  height: 100%;
}

.tab {
  background-image: url("Color-blue.jfif"); /* placeholder */
  background-size: cover;
  height:90vh;
}

.museum {
  background-image: url("museum_bg.jpg");
  background-size: cover;
  height:90vh;
}

.exhibition_1 {
  background-image: url("Color-blue.jfif"); /* placeholder */
  background-size: cover;
  height:90vh;
}

.exhibition_2 {
  background-image: url("Color-blue.jfif"); /* placeholder */
  background-size: cover;
  height:90vh;
}

.exhibition_3 {
  background-image: url("Color-blue.jfif"); /* placeholder */
  background-size: cover;
  height:90vh;
}

.h4 {
  align-items:center;
  color:white;
}
div {
  # background-color: #000080;
}

.doorDiv {
  float: left;
  width: 25%;
  margin: auto;
  padding: 200px 0px 30px 30px;
  text-align: center;
  text-color: white;
}

.leftDoorDiv {
  float: left;
  width: 20%;
  padding: 200px 0px 30px 5px;
  text-align: center;
  text-color: white;
}

.rightDoorDiv {
  float: right;
  width: 20%;
  padding: 200px 5px 30px 0px;
  text-align: center;
  text-color: white;
}

.door {
  width: 200px;
  height: 440px; 
  background-color: blue;
  /*background-image: url("door_img.png");*/
  background-size: cover; 
  background-position: center;
  display:block; 
  margin:auto; 
  border-radius: 5px;
}

.door1 {
  display: block;
  background-color: blue;
  margin-left: 45px;
  margin-top: -30px;
  width: 310px;
  height: 433px;
  opacity:0;
}

.door2 {
  display: block;
  background-color: blue;
  margin-left: 170px;
  margin-top: 45px;
  width: 170px;
  height: 310px;
  opacity:0;
}

.door3 {
  display: block;
  background-color: blue;
  margin-left: 80px;
  margin-top: 85px;
  width: 110px;
  height: 250px;
  opacity:0;
}

.left_arrow {
  width: 200px;
  height: 440px; 
  background-image: url("green.jpg");
  background-size: cover; 
  background-position: center;
  display:block; 
  margin:auto; 
  border-radius: 5px;
}

.right_arrow {
  width: 200px;
  height: 440px; 
  background-image: url("green.jpg");
  background-size: cover; 
  background-position: center;
  display:block; 
  margin:auto; 
  border-radius: 5px;
}
